<header>
    <div class="content-wrapper">
        <p class="site-title">
            <a href="~/">Munchkin Project</a>
        </p>
    </div>
</header>
<div id="body">
    <input type="text" data-bind="value: firstName" />
    <strong data-bind="text: firstName"></strong>
</div>
